{% extends "layout.html" %}
{% load static %}
{% block title %}Change PWD{% endblock %}


{% block content %}

    <div class="container">
        <div class="col-xl-6 offset-xl-3 col-md-12">
            <div class="title">
                <h2>Change Your Password</h2>
                <hr/>
            </div>
            <div class="col-xl-12">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group row pb-3">
                        <label class="col-4 col-form-label">Old password</label>
                        <div class="col-8">
                            <input type="password" name="old_password" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row pb-3">
                        <label class="col-4 col-form-label">New Password</label>
                        <div class="col-8">
                            <input name="new_password1" class="form-control" type="password" required>
                        </div>
                    </div>
                    <div class="form-group row pb-3">
                        <label class="col-4 col-form-label">Confirm Password</label>
                        <div class="col-8">
                            <input name="new_password2" class="form-control" type="password" required>
                        </div>
                    </div>
                    <div class="form-group row pb-3">

                    <div class="offset-4 col-8 text-right">
                        <input type="submit" class="btn btn-primary" value="Change" />
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}