{% extends "layout.html" %}
{% load static %}
{% block title %}Change PWD{% endblock %}


{% block content %}

    <div class="container">
        <div class="col-xl-6 offset-xl-3 col-md-12">
            <!-- Title -->
            <div class="title">
                <h2>Change Your Password</h2>
                <hr/>
            </div>
            <!-- #END Title -->

            <!-- Password Change Form -->
            <div class="col-xl-12">

                <form method="post">
                    {% csrf_token %}

                    <!-- Old Password -->
                    <div class="form-group row pb-3">
                        <label class="col-4 col-form-label">Old password</label>
                        <div class="col-8">
                            <input type="password" name="old_password" class="form-control" required>
                        </div>
                    </div>
                    <!-- #END Old Password -->

                    <!-- New Password -->
                    <div class="form-group row pb-3">
                        <label class="col-4 col-form-label">New Password</label>
                        <div class="col-8">
                            <input name="new_password1" class="form-control" type="password" required>
                        </div>
                    </div>
                    <!-- #END New Password -->

                    <!-- Confirm Password -->
                    <div class="form-group row pb-3">
                        <label class="col-4 col-form-label">Confirm Password</label>
                        <div class="col-8">
                            <input name="new_password2" class="form-control" type="password" required>
                        </div>
                    </div>
                    <!-- #END Confirm Password -->

                    <!-- Submit button -->
                    <div class="form-group row pb-3">
                        <div class="offset-4 col-8 text-right">
                            <input type="submit" class="btn btn-primary" value="Change" />
                        </div>
                    </div>
                    <!-- #END Submit button -->
                </form>
            </div>
            <!-- #END Password Change Form -->
        </div>
    </div>

{% endblock %}