{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="container">
    <div class="col-xl-4 offset-xl-4 col-md-12">

        <!-- Title -->
        <div class="title">
            <h2>Sign In into NCAP</h2>
            <hr />
        </div>

        <!-- Form -->
        <form method="post" class="mt-3">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <!-- Email -->
            <div class="form-group">

                <label for="{{ form.username.id_for_label }}">Email Address:</label>
                {{ form.username }}
                {{ form.username.errors }}

            </div>

            <!-- Password -->
            <div class="form-group">

                <label for="{{ form.password.id_for_label }}">Password:</label>
                {{ form.password }}
                {{ form.password.errors }}
            </div>

            <input type="hidden" name="next" value="{{ next }}" />

            <!-- Submit button -->
            <div class="form-group mt-5">
                <input type="submit" value="Login">
            </div>

        </form>
        <!--# END Form  -->
    </div>
</div>
{% endblock %}