{% autoescape off %}

You are receiving this email because someone requested a password reset for the NeuroCAAS account associated with your email address. 

If you do not know what this is, please ignore this email.

To initiate the password reset process for your NeuroCAAS account,
click the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

Please contact us at neurocaas@gmail.com if you have any questions.

Sincerely,
The NeuroCAAS Team



{% endautoescape %}