{% extends "layout.html" %}
{% load static %}
{% block title %}Detail{% endblock %}

{% block content %}

    <div class="container">
        <div class="col-xl-6 offset-xl-3 col-md-12">
            <!-- Title -->
            <div class="title">
                <h2>Account Detail</h2>
                <hr/>
            </div>

            <div class="col-xl-12">
                <!-- Profile Form -->
                <form method="post">
                    {% csrf_token %}

                    <!-- First Name -->
                    <div class="form-group row pb-3">
                        <label class="col-5 col-form-label">First Name</label>
                        <div class="col-7">
                            <input type="text" name="first_name" placeholder="First Name" class="form-control" value="{{user.first_name}}" required>
                        </div>
                    </div>

                    <!-- Last Name -->
                    <div class="form-group row pb-3">
                        <label class="col-5 col-form-label">Last Name</label>
                        <div class="col-7">
                            <input name="last_name" placeholder="Last Name" class="form-control" type="text"  value="{{user.last_name}}" required>
                        </div>
                    </div>

                    <!-- AWS Credentials Status -->
                    <div class="form-group row pb-3">
                        <label class="col-5 col-form-label">AWS Credentials Status</label>
                        <div class="col-7 text-left">
                            {% if aws_req %}
                            <label class="{{aws_req.get_status_display}}">{{aws_req.get_status_display}}</label>
                                {% if aws_req.get_status_display == 'Denied' %}
                                    <a href="{% url 'aws_cred_request' %}" class="btn btn-warning ml-2">Send request again</a>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'aws_cred_request' %}" class="btn btn-warning">Send Request</a>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group row pb-3">
                        <div class="col-5 text-left">
                            <input type="submit" class="btn btn-primary" value="Save">
                        </div>
                        <div class="col-7 text-right">
                            <button type="button" class="btn btn-primary" onclick="user_password_change()">Change Password?</button>
                        </div>
                    </div>

                </form>
                <!--# END Form -->
            </div>
        </div>
    </div>

{% endblock %}

{% block js_content %}
    <script>
        function user_password_change(){
            window.location.href = "{% url 'user_password_change' %}";
        }
    </script>
{% endblock %}