{% extends "layout.html" %}
{% load static %}
{% block title %}Detail{% endblock %}

{% block content %}

    <div class="container">
        <div class="col-xl-6 offset-xl-3 col-md-12">
            <div class="title">
                <h2>Account Detail</h2>
                <hr/>
            </div>
            <div class="col-xl-12">
                <div class="form-group row pb-3">
                    <label for="first_name" class="col-4 col-form-label">First Name</label>
                    <div class="col-8">
                        <input id="first_name" name="first_name" placeholder="First Name" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group row pb-3">
                    <label for="last_name" class="col-4 col-form-label">Last Name</label>
                    <div class="col-8">
                        <input id="last_name" name="last_name" placeholder="Last Name" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group row pb-3">
                    <label for="select" class="col-4 col-form-label">AWS Credentials</label>
                    <div class="col-8 text-left">
                        Completed
                        <a href="/request" class="btn btn-warning">Send Request</a>
                    </div>
                </div>
                <div class="form-group row pb-3">
                    <label for="newpass" class="col-4 col-form-label">New Password</label>
                    <div class="col-8">
                        <input id="newpass" name="newpass" placeholder="New Password" class="form-control here" type="text">
                    </div>
                </div>
                <div class="form-group row pb-3">
                    <div class="offset-4 col-8">
                        <button name="submit" type="submit" class="btn btn-primary">Update My Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}