{% extends "layout.html" %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

<h2>Set a new password.</h2>
<div class="col-xl-4 offset-xl-4 col-md-12">
  <form method="POST" class="mt-3">
    {% csrf_token %}
    
    {% for field in form %}
		<div class="form-group">
			<label for="{{ field.id_for_label }}">{{ field.label }}:</label>
			{{ field }}

		</div>
	{% endfor %}
    <input type="submit" value="Change Password">
  </form>
</div>



{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}