{% extends "layout.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}

<h2>Forgot your password?</h2>
  <p>Enter your email address below, and we'll email instructions for setting a new one.<br>Please also use this form if your are an older NeuroCAAS user and have not yet set a password.</p>
<div class="col-xl-4 offset-xl-4 col-md-12">
  <form method="POST" class="mt-3">
    {% csrf_token %}
    
    {% for field in form %}
		<div class="form-group">
			<label for="{{ field.id_for_label }}">{{ field.label }}:</label>
			{{ field }}

		</div>
	{% endfor %}
    <input type="submit" value="Send instructions">
  </form>
</div>
{% endblock %}