{% extends "layout.html" %}
{% load static %}

{% block title %}Analysis list{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-3 text-left">
            <div class="paper-link mt-2 text-center">
                <span class="bottom-line title">Available Analyses</span>
            </div>

            {% if main_analyses|length > 0 %}
            <div class="analysis-div mt-5">
                <a name= "analyses"></a>
                <span class="bottom-line title">Main Analyses</span>
                <ul class="analysis-list mt-4">
                    {% for item in main_analyses %}
                    <li>
                        <h3>{{item.analysis_name}} <a href="/analysis/{{item.id}}"><span class="text-danger">Start Analysis</span></a></h3>
                        <p>
                            {{item.short_description}}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if custom_analyses|length > 0 %}
            <div class="analysis-div mt-5">
                <a name= "analyses"></a>
                <span class="bottom-line title">Custom Analyses</span>
                <ul class="analysis-list mt-4">
                    {% for item in custom_analyses %}
                    <li>
                        <h3>{{item.analysis_name}} <a href="/analysis/{{item.id}}"><span class="text-danger">Start Analysis</span></a></h3>
                        <p>
                            {{item.short_description}}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}