{% extends "layout.html" %}
{% load static %}
{% block title %}Home{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-4 mt-2">
        <h3>Upload Dataset Json files to S3</h3>
        <div class="upload-div" id="dataset-area">
            <form class="drop-area">
                <p>Drag & Drop or Click!</p>
                <input type="file" class="fileElem" accept=".json" multiple>
                <progress class="progress-bar" max=100 value=0></progress>
            </form>
            <div class="gallery"></div>
        </div>
        <hr>
        <div class="mt-2">
            <h3>Upload Json file to S3 for Processing</h3>
            <div class="upload-div" id="submit-area">
                <form class="drop-area">
                    <p>Drag & Drop or Click!</p>
                    <input type="file" class="fileElem" accept=".json" multiple>
                    <progress class="progress-bar" max=100 value=0></progress>
                </form>
                <div class="gallery"></div>
            </div>
        </div>
    </div>


    <div class="col-md-4 status-div">
        <h3>Processing Status</h3>
        <div class="status mt-4">
            <textarea class="form-control status-text" id="status" disabled>...</textarea>
        </div>
    </div>

    <div class="col-md-4 status-div">
        <h3>Processing Result</h3>
        <div class="spinner-div mt-5">
            <div class="text-center pt-5" style="display:block;">
                <h6 class="mb-lg"><sup><em class="fa fa-cog fa-2x text-muted fa-spin text-info"></em></sup>
                   <em class="fa fa-cog fa-5x text-muted fa-spin text-purple"></em>
                   <em class="fa fa-cog fa-lg text-muted fa-spin text-success"></em>
                </h6>
            </div>
        </div>
        <div class="status mt-4">
        </div>
    </div>
</div>

{% endblock %}

{% block js_content %}
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.617.0.min.js"></script>
    <script src="{% static 'js/file_upload.js' %}"></script>

    <script>
        var id1, id2;
        var upload_dir = "{{upload_dir}}";
        var file_tag_id = "uploaded_file"
        id1 = "{{id1}}";
        id2 = "{{id2}}";
        bucket = "{{bucket}}";

        video_area = new FileUpload();
        video_area.init("submit-area", id1, id2, bucket, upload_dir, file_tag_id);

        /*8
        $('#process').click(function(e){
            if ($('#' + file_tag_id).val()) $('#submit_form').submit();
            else alert("Upload file first plase!");
        })*/

    </script>
{% endblock %}