{% extends "layout.html" %}
{% load static %}
{% block title %}Home{% endblock %}


{% block content %}

<div class="row">
    <input type="hidden" name="id1" value="{{id1}}">
    <input type="hidden" name="id2" value="{{id2}}">
    <div class="col-md-12 mt-2">
        <h3>Upload Json file to S3</h3>
        <div id="video-area">
            <form class="drop-area">
                <p>Drag & Drop or Click!</p>
                <input type="file" class="fileElem" accept=".json">
                <progress class="progress-bar" max=100 value=0></progress>
            </form>
            <div class="gallery"></div>
        </div>
    </div>
    <div class="col-md-12">
        <form method="post" action="{% url 'demo_result' %}" id="submit_form">
            {% csrf_token %}
            <input type="hidden" name="bucket" value="{{bucket}}">
            <input type="hidden" name="file" id="uploaded_file" value="">
            <input id="process" type="button" class="btn btn-primary" value="Check Process" />
        </form>
    </div>
</div>

{% endblock %}

{% block js_content %}
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.617.0.min.js"></script>
    <script src="{% static 'js/file_upload.js' %}"></script>

    <script>
        var id1, id2;
        var prefix = "{{prefix}}";
        id1 = $('input[name=id1]').val();
        id2 = $('input[name=id2]').val();
        bucket = $('input[name=bucket]').val();
        video_area = new FileUpload();
        video_area.init("video-area", id1, id2, bucket, prefix);

        $('#process').click(function(e){
            if ($('#uploaded_file').val()) $('#submit_form').submit();
            else alert("Upload file first plase!");
        })
    </script>
{% endblock %}