{% extends "layout.html" %}
{% load static %}
{% block title %}Home{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="row">
            <div class="col-sm-4 offset-sm-4 col-md-4 offset-md-4">
                <form>
                    <div class="form-group">
                        <h2 class="mb-4">Select S3 Bucket</h2>
                        <select class="form-control" required>
                            <option selected="" hidden> --- s3 bucket ----</option>
                            <option>jfourie-test</option>
                            <option>dlc_ncap</option>
                            <option>loca-pmd-ncap</option>
                            <option>caiman-ncap</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <hr>
    </div>
    <div class="col-md-4 mt-2">
        <h3>Upload Video file to S3</h3>
        <div id="video-area">
            <form class="drop-area">
                <p>Drag & Drop or Click!</p>
                <input type="file" class="fileElem" accept="*/*">
                <progress class="progress-bar" max=100 value=0></progress>
            </form>
            <div class="gallery"></div>
        </div>
    </div>

    <div class="col-md-4  mt-2">
        <h3>Upload Paramter file to S3</h3>
        <div id="param-area">
            <form class="drop-area">
                <p>Drag & Drop or Click!</p>
                <input type="file" class="fileElem" accept="*/*">
                <progress class="progress-bar" max=100 value=0></progress>
            </form>
            <div class="gallery"></div>
        </div>
    </div>

    <div class="col-md-4  mt-2">
        <h3>Upload Config file to S3</h3>
        <div id="config-area">
            <form class="drop-area">
                <p>Drag & Drop or Click!</p>
                <input type="file" class="fileElem" accept="*/*">
                <progress class="progress-bar" max=100 value=0></progress>
            </form>
            <div class="gallery"></div>
        </div>
    </div>
    <div class="col-md-12">
        <input id="upload" type="button" class="btn btn-primary" value="Upload" />
    </div>
</div>

{% endblock %}

{% block js_content %}
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.617.0.min.js"></script>
    <script src="{% static 'js/file_upload.js' %}"></script>

    <script>
        video_area = new FileUpload();
        video_area.init("video-area");
        param_area = new FileUpload();
        param_area.init("param-area");
        config_area = new FileUpload();
        config_area.init("config-area");
    </script>
{% endblock %}