{% extends "layout.html" %}
{% load static %}
{% block title %}Home{% endblock %}


{% block content %}

<div class="row">
    <input type="hidden" name="id1" value="{{id1}}">
    <input type="hidden" name="id2" value="{{id2}}">
    <div class="col-md-10 offset-md-1">
        <div class="row">
            <div class="col-sm-4 offset-sm-4 col-md-4 offset-md-4">
                <form>
                    <div class="form-group">
                        <h2 class="mb-4">Select S3 Bucket</h2>
                        <select class="form-control" id="bucket-list" required>
                            <option selected="" hidden> --- s3 bucket ----</option>
                            {% for bucket in buckets %}
                            <option value="{{bucket.name}}">{{bucket.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <hr>
    </div>
    <div class="col-md-4 mt-2">
        <h3>Upload Video file to S3</h3>
        <div id="video-area">
            <form class="drop-area">
                <p>Drag & Drop or Click!</p>
                <input type="file" class="fileElem" accept="*/*">
                <progress class="progress-bar" max=100 value=0></progress>
            </form>
            <div class="gallery"></div>
        </div>
    </div>

    <div class="col-md-4  mt-2">
        <h3>Upload Paramter file to S3</h3>
        <div id="param-area">
            <form class="drop-area">
                <p>Drag & Drop or Click!</p>
                <input type="file" class="fileElem" accept="*/*">
                <progress class="progress-bar" max=100 value=0></progress>
            </form>
            <div class="gallery"></div>
        </div>
    </div>

    <div class="col-md-4  mt-2">
        <h3>Upload Config file to S3</h3>
        <div id="config-area">
            <form class="drop-area">
                <p>Drag & Drop or Click!</p>
                <input type="file" class="fileElem" accept="*/*">
                <progress class="progress-bar" max=100 value=0></progress>
            </form>
            <div class="gallery"></div>
        </div>
    </div>
    <div class="col-md-12">
        <input id="process" type="button" class="btn btn-primary" value="Process" />
    </div>
</div>

{% endblock %}

{% block js_content %}
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.617.0.min.js"></script>
    <script src="{% static 'js/file_upload.js' %}"></script>

    <script>
        var id1, id2;
        id1 = $('input[name=id1]').val();
        id2 = $('input[name=id2]').val();
        video_area = new FileUpload();
        video_area.init("video-area", id1, id2);

        param_area = new FileUpload();
        param_area.init("param-area", id1, id2);
        config_area = new FileUpload();
        config_area.init("config-area", id1, id2);


        document.getElementById("bucket-list").addEventListener("change", function(e) {
            video_area.set_bucket(e.target.value);
            param_area.set_bucket(e.target.value);
            config_area.set_bucket(e.target.value);
        });

    </script>
{% endblock %}