{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <!-- Inner -->
        <div class="inner">
            <header>
                <h1><a href="/" id="logo">Neuroscience Cloud Analysis Platform</a></h1>
                <hr />
                <p>Minimum Viable Product</p>
            </header>
            <footer>
                {% if not user.is_authenticated %}
                <a href="{% url 'login' %}" class="button circled scrolly">Start</a>
                {% else %}
                <a href="{% url 'select_bucket' %}" class="button circled scrolly">Start</a>
                {% endif %}
            </footer>
        </div>
{% endblock %}