{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <!-- Inner -->
        <div class="inner">
            <header>
                <h1><a href="/" id="logo">Neuroscience Cloud Analysis Platform</a></h1>
                <hr />
                <p>Minimum Viable Product</p>
            </header>
            <footer>

                    <a href=" {% if not user.is_authenticated %} /login {% endif %}" class="button circled scrolly">Start</a>

            </footer>
        </div>
{% endblock %}