{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <!-- Inner -->
        <div class="inner">
            <header>
                <h1><a href="/" id="logo">Neuroscience Cloud Analysis Platform</a></h1>
                <hr />
                {% if not logged_in %}
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-md-12 gap">
                            <!-- Title -->
                            <div class="title text-center">
                                <h2>Sign In to NCAP</h2>
                                <div class="col-xl-6 offset-xl-3 col-md-12">
                                    <hr class="mb-5"/>
                                </div>
                                <!--<p class="text-center">NCAP is in closed alpha. We will get back to you with details on usage soon.</p>-->
                            </div>

                            <div class="row">
                                <div class="col-xl-8 offset-xl-2 col-md-12">
                                <!-- Form -->
                                    <form method="post" class="mt-3" action="login/">
                                        <input type="hidden" name="next" value="/demo/">
                                        {% csrf_token %}
                                        {% for field in login_form %}
                                            <div class="form-group">
                                                {% for error in field.errors %}
                                                    <p style="color: red">{{ error }}</p>
                                                {% endfor %}
                                                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                                {{ field }}

                                            </div>
                                        {% endfor %}
                                        <div class="form-group mt-5">
                                            <input type="submit" value="Submit">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-12">
                            <!-- Title -->
                            <div class="title text-center">
                                <h2>Sign Up for NCAP</h2>
                                <div class="col-xl-6 offset-xl-3 col-md-12">
                                    <hr class="mb-5"/>
                                </div>
                                <!--<p class="text-center">NCAP is in closed alpha. We will get back to you with details on usage soon.</p>-->
                            </div>

                            <div class="row">
                                <div class="col-xl-8 offset-xl-2 col-md-12">
                                <!-- Form -->
                                    <form method="post" class="mt-3" action="signup/">
                                        {% csrf_token %}
                                        {% for field in reg_form %}
                                            <!-- Email -->
                                            <div class="form-group">
                                                {% for error in field.errors %}
                                                    <p style="color: red">{{ error }}</p>
                                                {% endfor %}
                                                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                                {{ field }}

                                            </div>
                                        {% endfor %}
                                        <div class="form-group mt-5">
                                            <input type="submit" value="Submit">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </header>
            <footer>
                {% if logged_in %}
                    <a href="{% url 'demo' %}" class="button circled scrolly">Start</a>
                {% endif %}
            </footer>
        </div>
{% endblock %}