{% extends "layout.html" %}
{% load static %}

{% block title %}Step1{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="row">
                <div class="col-sm-4 offset-sm-4 col-md-4 offset-md-4">
                    <h2 style="letter-spacing: 5px;">Neuro  CAAS</h2>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-md-6 offset-md-3 mt-3 text-left">
            <div class="description">
                <p class="text-left">
                    NCAP (Neuroscience Cloud Analysis Platform) Web Interface (Minimum Viable Product)
                    NCAP (Neuroscience Cloud Analysis Platform) Web Interface (Minimum Viable Product)
                    NCAP (Neuroscience Cloud Analysis Platform) Web Interface (Minimum Viable Product)
                </p>
            </div>

            <div class="repo-link mt-2">
                <a href="#" class="botton-line">Repo Link</a>
            </div>

            <div class="paper-link mt-2">
                <a href="#" class="botton-line">Paper Link</a>
            </div>

            <div class="analysis-div mt-4">
                <span class="botton-line title">Analyses</span>
                <ul class="analysis-list mt-4">
                    <li>
                        <h3><a href="/home/">EPI-NCAP</a></h3>
                        <p>
                            Epi-ncap is the first anlysis I did used.
                        </p>
                    </li>
                    <li>
                        <h3><a href="/home/">EPI-NCAP-STABLE</a></h3>
                        <p>
                            Epi-ncap-stable is the second anlysis I did used.
                        </p>
                    </li>
                    <li>
                        <h3><a href="/home/">EPI-NCAP-STABLE-COPY</a></h3>
                        <p>
                            Epi-ncap-stable-copy is the third anlysis I did used.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}