{% extends "layout.html" %}
{% load static %}

{% block title %}Intro{% endblock %}

{% block title_content %}
<nav class="navbar navbar-dark bg-dark">
    <div class="col-md-12 text-right">
        Johannes Fourie
    </div>
</nav>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="row">
                <div class="col-sm-4 offset-sm-4 col-md-4 offset-md-4 mt-3">
                    <h2><span class="text-danger">Neuro</span>  Science</h2>
                </div>
                <div class="col-sm-8 offset-sm-2">
                    <h2 class="letter-spacing text-center"><span class="text-danger">C</span>loud <span class="text-danger">A</span>nalysis <span class="text-danger">A</span>s a <span class="text-danger">S</span>ervice</h2>
                </div>
            </div>
        </div>
        <div class="col-md-6 offset-md-3 mt-3 text-left">
            <div class="description">
                <p class="text-left">
                    NCAP (Neuroscience Cloud Analysis Platform) Web Interface (Minimum Viable Product)
                    NCAP (Neuroscience Cloud Analysis Platform) Web Interface (Minimum Viable Product)
                    NCAP (Neuroscience Cloud Analysis Platform) Web Interface (Minimum Viable Product)
                </p>
            </div>

            <div class="repo-link mt-2">
                <a href="#" class="botton-line">Repo Link</a>
            </div>

            <div class="paper-link mt-2">
                <a href="#" class="botton-line">Paper Link</a>
            </div>

            <div class="analysis-div mt-5">
                <span class="botton-line title">Analyses</span>
                <ul class="analysis-list mt-4">
                    {% for item in analyses %}
                    <li>
                        <h3><a href="/intro/{{item.id}}">{{item.analysis_name}}</a></h3>
                        <p>
                            {{item.short_description}}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}