{% extends "layout.html" %}
{% load static %}

{% block title %}Job History{% endblock %}


{% block content %}
    <div class="col-md-10 offset-md-1 mt-5">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 col-md-8 offset-md-2">
                <h2 class="clickable">{{ analysis.analysis_name }}</h2>
                <hr style="top:0px;">
            </div>

            <div class="col-md-8 offset-md-2 mt-3 text-left">
                <span class="bottom-line title">Job History</span>

                <div class="analysis-div mt-5 pl-10per">
                    <ul class="analysis-list mt-4">
                        {% for job in job_list %}
                            <li>
                                <a href="/history/{{analysis.id}}/{{job.timestamp}}">{{job.name}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}