{% extends "layout.html" %}
{% load static %}

{% block title %}Job Detail{% endblock %}


{% block content %}
    <div class="col-md-10 offset-md-1 mt-5">
        <div class="row">
            <!-- Job Title -->
            <div class="col-md-8 offset-md-2 text-center">
                <span class="title clickable">{{job_id}}</span>
                <hr class="top-0"/>
            </div>
            <!-- #END Job Title -->

            <!-- Tree Structure -->
            <div class="col-md-8 offset-md-2 text-left mt-3">
                <div id="job_detail_div" style="display: block;">
                    <div id="job_detail_view"></div>
                </div>
            </div>
            <!-- #END Tree Structure -->
        </div>
    </div>
{% endblock %}

{% block js_content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.9/jstree.min.js"></script>
    <script src="{% static 'js/jstree_utils.js' %}"></script>
    <script src="{% static 'js/jstree_jobs.js' %}"></script>

    <script>
        var job_detail = JSON.parse('{{job_detail|safe}}');
        var ana_id = {{analysis.id}};
        var ana_prefix = '{{analysis.result_prefix}}';
        var timestamp = {{timestamp}};
        $(document).ready(function(){
            console.log(job_detail);
            create_job_tree(job_detail);
        });
    </script>
{% endblock %}