{% extends "layout.html" %}
{% load static %}

{% block title %}User Permissions{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2 mt-3 text-left">

        <!-- Title -->
        <div class = "paper-link mt-2 text-center">
            <span class = "bottom-line title">Why can't I use an analysis?</span>
        </div>
        <!-- #END Title -->

        <!-- Contents -->
        <div class="mt-2">
            <br>
            <ul>
                <li>
                    <h3>
                        If your profile page shows IAM credentials:
                    </h3>
                    <p class="">
						User IAMs belong to a group. This group must have access to specific analyses in order for individual IAMs to use them. 
                        
                        <span class="text-warning">You may now select the analyses you have permissions for:</span>  <a href="/changeperms/">Change Permissions</a>
                        <br>
						<del style="font-size: 12px;">Please contact us at neurocaas@gmail.com to obtain access to more analyses for your group.</del>
                    </p>
                </li>
                <li>
                    <h3>
                        If your profile page does not show IAM credentials:
                    </h3>
                    <p class="">
						You must have an AWS IAM in order to gain access to use NeuroCAAS analyses.
						Please contact us at <span class="text-warning">neurocaas@gmail.com</span> to obtain access to more analyses for your group.
                    </p>
                </li>
            </ul>
        </div>
        <!-- #END Contents -->
    </div>
</div>
{% endblock %}