{% extends "layout.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-5">
                <h2>{{title}}</h2>
                <hr style="top:0px;"/>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <!--    DataSet Uploading Area    -->
        <h3>Select or upload dataset(s)</h3>
        <div class="table-div">
            <div id="dataset_div" class="text-left">
                <div id="dataset_folder"></div>
            </div>

            <table class="mt-3 hidden" id="dataset_table">
                <tbody>
                    <tr>
                        <td>loading ...</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="upload-div" id="dataset-area">
            <form class="drop-area">
                <p>Drag & Drop or Click!</p>
                <input type="file" class="fileElem" accept="*/*" multiple>
                <progress class="progress-bar" max=100 value=0></progress>
            </form>
            <div class="gallery"></div>
        </div>
        <hr>

        <!-- Json file Uploading Area    -->
        <div class="mt-2">
            <h3>Select or upload config</h3>
            <div class="table-div">
                <div id="config_div" class="text-left">
                    <div id="config_folder"></div>
                </div>
                <table class="mt-3 hidden" id="config_table">
                    <tbody>
                        <tr>
                            <td>loading ...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="upload-div" id="config-area">
                <form class="drop-area">
                    <p>Drag & Drop or Click!</p>
                    <input type="file" class="fileElem" accept=".json" multiple>
                    <progress class="progress-bar" max=100 value=0></progress>
                </form>
                <div class="gallery"></div>
            </div>
            <div class="mt-2 table-div">
                <button onclick="submit();" id="submit_button" class="disabled">
                    <span id="btn-spinner" style="display: block;"><i class="fas fa-sync-alt fa-spin"></i></span>
                    Submit
                </button>
                <div class="mt-3">
                    Do you want to restart analysis?
                    <a href="" class="refresh_link">Reset</a>
                </div>
            </div>
        </div>
    </div>
    <!--# END Uploading Area    -->

    <!--  Processing Status    -->
    <div class="col-md-4 status-div">
        <h3>Status</h3>
        <div class="status mt-4">
            <textarea class="form-control status-text" id="status-text" disabled>...</textarea>
        </div>
        <div class="mt-2">
            <a onclick="download_cert();" id="down_cert" class="hidden text-warning">Download certificate.txt</a>
        </div>
    </div>
    <!--# END Processing Status  -->

    <!--# Processing Result -->
    <div class="col-md-4 result-div">
        <h3>Results</h3>

        <!-- Result View -->
        <div class="result-dataset mt-2" style="display: none;">

            <!-- Result per Dataset -->
            <!-- <h6 class="border-bottom pb-2 mb-0 text-white">Per DataSet</h6>
            <div class="p-3 bg-transparent rounded box-shadow text-left" id="dtset-result-view">
            </div>-->
            <!-- #END Result per Dataset -->
        </div>

        <div class="result-video mt-2" style="display: none;">
            <!-- Result Video -->
            <!--<h6 class="border-bottom pb-2 mb-0 text-white mt-4">Final</h6>
            <div class="p-3 bg-transparent rounded box-shadow text-left" id="video-result-view">
            </div>-->
            <!-- # END Result video -->
        </div>

        <!--  Hierarchy View  -->
        <!--  https://www.w3schools.com/icons/fontawesome_icons_filetype.asp   -->
        <br>
        <div id="hierarchy_div" style="display: block;">
            <div id="hierarchy"></div>
        </div>
        <!--  # END Hierarchy View  -->

        <!-- Spinner -->
        <div class="spinner mt-5" style="display:block;">
            <div class="text-center pt-5">
                <h6 class="mb-lg"><sup><em class="fa fa-cog fa-2x text-muted fa-spin text-info"></em></sup>
                   <em class="fa fa-cog fa-5x text-muted fa-spin text-purple"></em>
                   <em class="fa fa-cog fa-lg text-muted fa-spin text-success"></em>
                </h6>
            </div>
            <h3 class="mt-5">Processing...</h3>
        </div>
        <!-- #END Spinner -->

    </div>
    <!--# END Processing Result  -->
</div>

{% endblock %}

{% block js_content %}
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.617.0.min.js"></script>
    <script src="{% static 'js/file_upload.js' %}"></script>

    <script>
        var configs = [];
        var datasets = [];

        // variables to show jstree
        var results_links = [];
        var dtset_logs = [];

        var detail_flag = true;  // flag to show detail of dataset and config.

        var id1, id2;
        var id1 = "{{id1}}";
        var id2 = "{{id2}}";
        var processing_status = false;
        var data_dataset_dir = "{{data_dataset_dir}}";
        var data_config_dir = "{{data_config_dir}}";
        var data_bucket = "{{bucket}}";

        var dataset_area = new FileUpload();
        var config_area = new FileUpload();


        var timestamp = 0;
    </script>
    <script src="{% static 'js/process.js' %}"></script>
    
    <script type="text/javascript">
        
        dataset_area.init("dataset-area", id1, id2, data_bucket, data_dataset_dir, "", submit_trigger, true);

        
        config_area.init("config-area", id1, id2, data_bucket, data_config_dir, "", submit_trigger, true)

        $(document).ready(function(){
            $('.spinner').css('display', 'none');
            $('#btn-spinner').css('display', 'none');
            refresh_databucket_list();
        })
    </script>
{% endblock %}
