.inner .form-group label{
    text-align: left;
    margin:0;
    color: white;
}

.inner h2, .inner h3{
    color:white;
}

.inner h2{
    font-weight:bold;
    font-size: 2.5rem;
}

.title hr {
    top:5px!important;
}

#nav a:hover, #nav a {
    text-decoration: none;
}

.input_disabled {
    pointer-events:none;
}

.Pending{
    color:#ffc107!important;
    font-weight: bold;
}

.Denied{
    color: #dc3545!important;
    font-weight: bold;
}

.Completed {
    color: #17a2b8!important;
    font-weight: bold;
}

button{
    padding: 0.65em 3em 0.65em 3em!important;
    border-radius: 0.5em!important;
}



/* Custom css for file uploading form */

.upload-div{
    border: 2px dashed #ccc;
    border-radius: 20px;
    max-width: 480px;
    font-family: sans-serif;
    margin: 30px auto;
    padding: 20px;
    cursor:pointer;
}

.progress-bar{
    width: 100%;
}

.drop-area:hover{
    border-color: #ff9f9f;
}

.drop-area.highlight {
    border-color: purple;
}
.drop-area p {
    margin-top: 0;
    text-align:center;
}

.gallery {
    margin-top: 10px;
}
.gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.gallery label{
    padding: 5px;
}

.fileElem {
    display: none;
}


/* Spinner */
.text-purple{
    color: #7266ba!important;
}

.text-success {
    color: #27c24c!important;
}

.text-info {
    color: #23b7e5!important;
}

.text-bold {
    font-weight: bold !important;
}
.text-lg {
    font-size: 30px;
}
.mb-lg{
    font-size: 36px!important;
}


/* Status text */
.status-text{
    background-color: black!important;
    color: white;
    border: none;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0, 0, 0, 0.5);
    height: 450px!important;
    resize: none;
}


/* Home Page */
.gap{
    border-right: 1px solid rgba(192, 192, 192, 0.35);
}

.subtitle{
    font-size: 1.3rem;
    font-weight:lighter;
}

@media screen and (max-width: 1024px) {
    em.fa.fa-cog.fa-5x.text-muted.fa-spin.text-purple{
        font-size: 130px;
    }

    .gap{
        border-right: none;
    }
}

#navButton{
    display:none;
}