{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>NeuroCaaS | {% block title %}{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="shortcut icon" href="http://stat.columbia.edu/~cunningham/images/favicon-crown.png" type="image/x-icon">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<link rel="stylesheet" href="{% static 'css/custom.css' %}" />
		<link rel="stylesheet" href="https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.css" />
		<link rel="stylesheet" href="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.11/css/dataTables.checkboxes.css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
		<link rel="stylesheet" href="{% static 'jstree/style.min.css' %}" />

		{% block css_content %} {% endblock %}
	</head>
    <body class="homepage is-preload">
        <div id="page-wrapper">
            <!-- Header -->
				<div id="header">
						<!--<div class="container">-->
						<nav class="navbar navbar-dark bg-dark">
							<div class="col-md-12 text-right">
								{% if iam %}
									<a class="text-warning no-border" href="javascript:void(0)">{{ iam.aws_user }}</a> &nbsp;&nbsp;&nbsp;

									<a class="no-border" href="/" title="Back Home">
										<svg class="bi bi-house" width="1.25em" height="1.25em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										  	<path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
										  	<path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
										</svg>
									</a>
									&nbsp;
									<a class="no-border" href="/logout/" title="Log out">
										<svg class="bi bi-power" width="1.25em" height="1.25em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										  <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 104.922.044l.5-.866a6 6 0 11-5.908-.053l.486.875z" clip-rule="evenodd"/>
										  <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z" clip-rule="evenodd"/>
										</svg>
									</a>
								{% else %}
									<a class="text-warning no-border" href="javascript:void(0)">Anonymous User</a>
								{% endif %}
							</div>
						</nav>
						<!--</div>-->
						<div class="inner mt-4" style="width: 98%;">
							{% block content %}{% endblock %}
						</div>
				</div>
			<!--# END Header -->
			{% block extra_content %}{% endblock %}
			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
							<div class="col-12">

								<!-- Contact -->
									<section class="contact">
										<header>
										</header>
										<ul class="icons">
											<li>
												<a href="https://twitter.com/neurocaas" class="icon brands fa-twitter" target="_blank">
													<span class="label">Twitter</span>
												</a>
											</li>
											<li>
												<a href="http://stat.columbia.edu/~cunningham/" class="icon brands fa-dribbble" target="_blank" >
													<span class="label">Dribbble</span>
												</a>
											</li>
										</ul>
									</section>

								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<!--<li>&copy; Untitled. All rights reserved.</li><li>Product: <a href="">Neuroscience Analysis Platform</a></li>-->
										</ul>
									</div>

							</div>

						</div>
					</div>
				</div>
			<!--# END Footer -->

        </div>
		<a id="_iframe" download></a>
    </body>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
        <script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
        <script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
        <script src="{% static 'js/browser.min.js' %}"></script>
        <script src="{% static 'js/breakpoints.min.js' %}"></script>

		<!--  Notify Plugin	-->
		<script src="{% static 'js/notify.js' %}"></script>
        <script src="{% static 'js/util.js' %}"></script>
		<script src="https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.js"></script>
		<script src="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.11/js/dataTables.checkboxes.min.js"></script>

		<!--  Custom JS	-->
		<script src="{% static 'js/main_utils.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

		<script src="{% static 'jstree/jstree.min.js' %}"></script>
		<script src="{% static 'jstree/jstree_usage.js' %}"></script>

		{% block js_content %} {% endblock %}
		<script>
			$(document).ready(function(){
				{% if messages %}
					{% for message in messages %}
						$.notify("{{message|safe}}", {globalPosition: "right top", className: "{{message.tags}}", autoHideDelay: 4000} )
					{% endfor %}
				{% endif %}
			});
		</script>
</html>