{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>NCAP | {% block title %}{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<link rel="stylesheet" href="{% static 'css/custom.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>


		{% block css_content %} {% endblock %}
	</head>
    <body class="homepage is-preload">
        <div id="page-wrapper">
            <!-- Header -->
				<div id="header">

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								{% if user.is_authenticated %}
									<li>
										<a href="#">{{user.first_name}} {{user.last_name}}</a>
										<ul>
											<li><a href="{% url 'profile' %}">Account Detail</a></li>
											<li><a href="{% url 'change_pwd' %}">Change Password</a></li>
											<li><a href="{% url 'logout' %}?next={% url 'home' %}">Logout</a></li>
										</ul>
									</li>
								{% else %}
									<li><a href="/login">Login</a></li>
								{% endif %}

								<!--<li><a href="right-sidebar.html">Right Sidebar</a></li>-->
								<!--<li><a href="no-sidebar.html">No Sidebar</a></li>-->
							</ul>
						</nav>
						<div class="inner">
							{% block content %}{% endblock %}
						</div>
				</div>
			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
							<div class="col-12">

								<!-- Contact -->
									<section class="contact">
										<header>
											<h3>Nisl turpis nascetur interdum?</h3>
										</header>
										<p>Urna nisl non quis interdum mus ornare ridiculus egestas ridiculus lobortis vivamus tempor aliquet.</p>
										<ul class="icons">
											<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
											<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a></li>
											<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
											<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">Linkedin</span></a></li>
										</ul>
									</section>

								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; Untitled. All rights reserved.</li><li>Product: <a href="http://html5up.net">Neuroscience</a></li>
										</ul>
									</div>

							</div>

						</div>
					</div>
				</div>
        </div>
    </body>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
        <script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
        <script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
        <script src="{% static 'js/browser.min.js' %}"></script>
        <script src="{% static 'js/breakpoints.min.js' %}"></script>
		<script src="{% static 'js/notify.js' %}"></script>
        <script src="{% static 'js/util.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

		{% block js_content %} {% endblock %}
		<script>
			$(document).ready(function(){
				{% if messages %}
					{% for message in messages %}
						$.notify("{{message}}", {globalPosition: "right top", className: "{{message.tags}}", autoHideDelay: 1000} )
					{% endfor %}
				{% endif %}
			});
		</script>
</html>